{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Créer l'article</button>
    {{ form_end(form) }}
{% endblock %}